*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:rgb(6, 9, 5);
    font-size: 40px;
    text-align: center;
}

li {
    float: right;
    color:rgb(44, 27, 6);
    }
      
a {
color:#ffffff;
display: block;
height: fit-content;
width: fit-content;
padding: 40px;
background-image: #1e4131;
text-decoration-color: rgb(0, 0, 0);
}



.body {
background-color: #ffffff;
 }

 .container {
width: 100%;
height: 50vh;
background: #ffffff;
display: flex;
align-items: center;
justify-content: top-left;
     
}

.swiper {
width: 20%;
height: auto;

}
.swiper-slide img{
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
color: #635d5d;
}
.swiper .swiper-pagination-bullet-active{
    background-color: #615b5b;
}

.footer{
    background-color:#003366;
    margin:0;
    padding:0;
    width:90vw;
    height:22.5vh;
    float:right;
    overflow:auto;
    }